<form action="localhost:8001/postComplaint" method="post" class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Complaint Document</legend>

    <!-- Text input-->



    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Jurisdiction of the Court</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Area" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Complainant's Name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Complainant's Father Name</label>
      <div class="col-md-5">
        <input id="textinput" name="textinput" type="text" placeholder="Complainant's Father Name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Complainant's Age </label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Age" class="form-control input-md">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Complainant's Address</label>
      <div class="col-md-4">
        <textarea class="form-control" id="textarea" name="textarea">Complainant's Address
        </textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Accused Name</label>
      <div class="col-md-6">
        <input id="textinput" name="textinput" type="text" placeholder="Accused Name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Accused's Father Name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Accused's Father Name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Accused's Age</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Accused's Age" class="form-control input-md">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Accused's Address </label>
      <div class="col-md-4">
        <textarea class="form-control" id="textarea" name="textarea">Accused's Address
        </textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Agreement amount</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Agreement amount" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Agreement type</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Agreement type" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Date of the agreement</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Date of the agreement" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Cheque No.</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Cheque No." class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Cheque Date</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Cheque Date" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Cheque Amount</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Cheque Amount" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Date of presentation</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Date of presentation" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Date on return memo</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Date on return memo" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Reason for dishonor </label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Reason for dishonor " class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Bank Name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Bank Name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Branch Name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Branch Name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Police Station</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Police Station" class="form-control input-md">

      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="button1id" name="button1id" class="btn btn-success">Submit</button>
        <button id="button2id" name="button2id" class="btn btn-danger">Reset</button>
      </div>
    </div>

  </fieldset>
</form>